<footer class="footer flex">
    <div id="spring-links flex">
        <img id="inomeralogo" src="{{{uiRootPath}}}/img/inomera-logo.png" alt="Inomera">
        <p class="smallest antialiased">Copyright © 2019 - <script>var d = new Date();
        document.write(d.getFullYear());</script> All Rights Reserved.</p>
    </div>
</footer>

